<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tamaka.sharedpreferences">
<uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".Parkir" />
        <activity android:name=".Lokasi" />
        <activity android:name=".Mobil" />
        <activity android:name=".BuatParkir" />
        <activity android:name=".LihatParkir" />
        <activity android:name=".UpdateParkir" />
        <activity android:name=".BuatLokasi" />
        <activity android:name=".LihatLokasi" />
        <activity android:name=".UpdateLokasi" />
        <activity android:name=".BuatMobil" />
        <activity android:name=".LihatMobil" />
        <activity android:name=".UpdateMobil"></activity>
    </application>

</manifest>